#!/usr/bin/env ruby

compile '/**/*.erb' do
  filter :erb
  if item.identifier =~ '/index.*'
    layout '/backgroundless.*'
  elsif item.identifier =~ '/rules/*'
    layout '/backgroundless.*'
  else
    layout '/default.*'
  end
  write ext: 'html'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
