<div class="intro">
    <h1>On Mastodon</h1>
    <p>
        Discover major news sources, on a libre social network!
    </p>
</div>

<div class="pure-g">
    <%= render '/listing.*', :items => db_entries_random_order %>
</div>
